/* Estilos que afectaran a toda la pagina */
* {
    margin: 0;
    padding: 0;
}

/* Estilos que se repiten a lo largo de la pagina */

.montserrat {
    font-family: "Montserrat", sans-serif;
    font-style: normal;
}

/* Estilos mas puntuales */

/* Header */

.header {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    align-items: center;
    box-shadow: 0px 0px 8px rgba(0,0,0,.6);
}

.header-we {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    align-items: center;
}

.header-logo {
    width: 120px;
}

nav {
    display: inline-flex;
    width: 300px;
}

.header-button {
    border: #D9D9D9 solid 0px;
    background-color: #D9D9D9;
    height: 5vh;
    margin-right: 10px;
    width: 100%;
    border-radius: 21px;
    font-weight: 600;
}

.header-button:hover {
   background-color: #5F5A5A;
}

/* Filtros Section */

.filterSearch-header {
    display: flex;
    justify-content: space-between;
    align-content: space-between;
    align-items: center;
}

.filterSearch-header-title {
    margin-left: 3%;
    font-size: 30px;
    font: weight 600px;

}

#ac {
    display: flex;
    align-items: center;
    margin-right: 2%;
}

.filterSearch-header-filtros {
    font-weight: 600;
    font-size: 20px;
    margin-right: 5px;
}

.filterSearch-header-button {
    background-color: white;
    color: white;
    width: 40px;
    height: 40px;
    border-radius: 5px;
}

.filterSearch-header-button:hover {
    background-color: gray;
}

.filterSearch-box {
    border: gray 1px solid;
    border-radius: 5px;
    margin: 5%;
    padding: 10px;
    background-color: rgb(160, 160, 160);
}

.filterSearch-box select {
    margin-right: 50px;
}

.filterSearch-box label {
    display: inline;
    margin-right: 7px;
    margin-left: 1px;
}

.publicacion-contenedor {
	display: grid;
	grid-template-columns: 1fr 1fr 1fr;
	gap: 25px;
    margin: auto 4%;
    margin-top: 2%;
}

.publicacion {
    width: 250px;
    height:400px;
    border-radius: 20px;
    margin: auto;
    text-align:center;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
    background-color: #333; 
    box-shadow: rgba(0, 0, 0, 0.66) 0 30px 60px 0, inset #333 0 0 0 5px, inset rgba(255, 255, 255, 0.5) 0 0 0 6px;
}

.overlay {
    height: 100%;
    width: 100%;
    opacity: 0;
    transition: .5s ease;
    background-color: #333;
    border-radius: 20px;
  }

.publicacion:hover .overlay {
    opacity: 0.9;
}

.text {
    color: white;
    font-size: 20px;
    position: relative;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    -ms-transform: translate(-50%, -50%);
  }

.text p {
    margin-bottom: 20px; 
}